/* BASIC STYLINGS
============================================================================= */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'helvetica-neue', helvetica;
    color: #f2f2f2;
    background: #245a85;
    font-size: 14px;
    line-height: 1.6;
}
nav {
    display: block;
    width: 100%;
    position: fixed;
    height: 48px;
    background-color: #222b33; //rgba(34, 30, 31, 0.8);
    ;
    z-index: 1;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
    content: " ";
    display: table;
}
#cloudant-logo {
    background: url('../images/sprite.png') no-repeat -178px 0px;
    width: 44px;
    height: 44px;
    position: absolute;
    display: inline-block;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    top: 2px;
    left: 5px;
}
nav .page-title {
    position: relative;
    height: inherit;
    font-size: 10px;
    font-weight: 400;
    color: #bababa;
    display: block;
    text-align: center;
    line-height: 48px;
    text-transform: uppercase;
}
a {
    color: #0ce3ac;
}
a, a:hover, a:active {
    text-decoration: none;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 200;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 24px;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 0;
    color: #f2f2f2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.btn.btnHover {
    background-color: #F3622D;
    color: #fff;
}
.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.btn-primary, .btn-primary.active {
    background-color: #3a8cc0;
}
.btn-info, .btn-info.active {
    background-color: #329898;
}
.btn-save, .btn-save.active {
    background-color: #329898;
}
pre {
    margin-bottom: 20px;
}
/* WELCOME PAGE*/

.content-table {
    display: table;
    height: inherit;
    width: 100%;
}
.content-table-cell {
    display: table-cell;
    vertical-align: middle;
}
.directional-copy {
    font-size: 14px;
    color: #6fc4e8;
    text-align: center;
}
/* LOCATION PAGE*/

.center-container {
    width: 100%;
    display: table;
    height: inherit;
    position: absolute;
    top: 0;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.center-block {
    width: 50%;
    margin: 0 auto;
}
.button-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.button-bottom .btn {
    margin-top: 1px;
}
#map, #mapResult {
    background-color: #221e1f;
    height: auto;
    display: block;
    top: 0px;
    bottom: 189px;
    position: absolute;
    width: 100%;
}
#mapResult.result {
    bottom: 69px;
}
.location-tracker-bottom {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
}
.long-lat-container {
    width: 100%;
    display: table;
    height: 120px;
    background-color: #f2f2f2;
}
.longitude, .latitude {
    vertical-align: middle;
    height: 120px;
    display: table-cell;
    width: 50%;
    text-align: center;
    font-size: 28px;
    line-height: 8px;
    color: #717981;
}
.latitude {
    border-left: 1px solid #ccc;
}
.longitude span, .latitude span {
    font-size: 16px;
    color: #909aa5;
    font-weight: 200;
}
.save-data {
    top: -14px;
    position: relative;
    display: block;
    height: 260px;
    z-index: 3;
}
.save-data .cloudant-icon {
    background: url('../images/sprite.png') no-repeat -55px 0px;
    position: relative;
    margin: auto;
}
.save-data .arrow-icon {
    background: url('../images/sprite.png') no-repeat -355px 0px;
    position: relative;
    margin: -12px auto -24px auto;
}
.save-data .dot {
    display: block;
    position: relative;
    height: 8px;
    width: 8px;
    background-color: #f2f2f2;
    margin: 8px auto;
}
.save-data .location-icon {
    background: url('../images/sprite.png') no-repeat -5px 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
}
.save-data .cloudant-icon, .save-data .arrow-icon, .save-data .location-icon {
    display: block;
    width: 40px;
    height: 60px;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
/* ANIMATION STYLINGS
============================================================================= */
/* basic styling for entering and leaving */
/* left and right added to ensure full width */

#location-views {
    padding-top: 48px;
    top: 0;
    height: 100%;
    background-color: #245a85;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    opacity: 0;
}
.anim-page-transition-js {
    display: block;
    position: relative;
    height: 100%;
}
.globe, .message {
    display: block;
    position: relative;
    width: 340px;
    overflow-x: hidden;
    left: 50%;
    margin-left: -170px;
}
.globe {
    margin-top: -60px;
    height: 240px;
}
.globe.save-data {
    margin-top: 20px;
}
.message {
    text-align: center;
    height: 320px;
    margin-top: -120px;
}
.message .success-icon, .message .error-icon {
    margin-left: -21px;
    top: 10px;
    left: 50%;
}
.message .success-icon {
    background: url('../images/sprite.png') no-repeat -390px 0px;
}
.message .error-icon {
    background: url('../images/sprite.png') no-repeat -346px 0px;
}
.message .success-message {
    color: #6fc4e8;
    font-size: 14px;
}
.message h3 {
    margin: 0 0 20px 0;
    padding-bottom: 12px;
    font-size: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.message span {
    font-size: 24px;
    font-weight: bold;
    color: #f2f2f2;
}
.globe h1 {
    top: 74px;
    z-index: 2;
    text-align: center;
    position: inherit;
    font-size: 36px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .4);
    display: block;
}
.globe .location-exclamation {
    display: block;
    position: absolute;
    left: 50%;
    top: -78px;
    margin-left: -20px;
}
.globe .location-icon {
    background: url('../images/sprite.png') no-repeat center left;
    top: 10px;
    margin-top: 21px;
}
.globe .location-dot {
    background: url('../images/sprite.png') no-repeat -260px 0px;
    top: -24px;
}
.globe .location-icon, .globe .location-dot, .message .success-icon, .message .error-icon {
    width: 43px;
    height: 52px;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}
.globe-mask {
    z-index: 1;
    background: url('../images/world_map_mask.png') no-repeat center center;
    width: inherit;
    height: inherit;
    top: 0;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.globe-map {
    z-index: 0;
    background: url('../images/world_map.png') repeat-x top left;
    width: 768px;
    height: 240px;
    top: 0;
    left: 0;
    -moz-background-size: 50%;
    -webkit-background-size: 50%;
    background-size: 50%;
    -webkit-animation: 15.0s globeLoopAnim infinite linear;
    -moz-animation: 15.0s globeLoopAnim infinite linear;
    animation: 15.0s globeLoopAnim infinite linear;
}
.globe-mask, .globe-map {
    position: absolute;
    display: block;
}
/* Leaflet Control Overrides */

.leaflet-control-container .leaflet-control-locate a {
    margin-left: 0px;
}
.leaflet-control-container .leaflet-bar {
    border-radius: 0;
}
.leaflet-control-container .leaflet-bar a, .leaflet-control-container .leaflet-bar a:hover {
    border-radius: 0;
    background-color: #222b33;
    border-bottom: none;
    width: 38px;
    height: 38px;
    line-height: 34px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #bababa;
    font-size: 32px;
}
.leaflet-control-container .leaflet-bar a.leaflet-disabled {
    cursor: default;
    background-color: #404E5B;
    background-color: #222b33;
}
.leaflet-control-container .leaflet-bar a:first-child, .leaflet-control-container .leaflet-bar a:last-child {
    border-radius: 0;
}
.leaflet-control-container .leaflet-control-locate.active.following a {
    color: #e5603d;
}
.leaflet-control-container .leaflet-control-locate.active a {
    color: #3a8cc0;
}
.leaflet-control-container .fa {
    font-size: 22px;
}
.leaflet-popup-pane .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #222b33;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}
.leaflet-popup-pane .leaflet-popup-content-wrapper {
    padding: 8px;
    text-align: left;
    border-radius: 0;
}
.leaflet-popup-pane span {
    color: #999;
    line-height: 1.6;
}
/* Globe LOOP */

@keyframes globeLoopAnim {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-384px);
    }
}
@-webkit-keyframes globeLoopAnim {
    from {
        -webkit-transform: translateX(0px);
    }
    to {
        -webkit-transform: translateX(-384px);
    }
}
@-moz-keyframes globeLoopAnim {
    from {
        -moz-transform: translateX(0px);
    }
    to {
        -moz-transform: translateX(-384px);
    }
}
