/* BASIC STYLINGS
============================================================================= */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'helvetica-neue', helvetica;
    color: #f2f2f2;
    background: #245a85;
    font-size: 14px;
    line-height: 1.6;
}
nav {
    display: block;
    width: 100%;
    position: fixed;
    height: 48px;
    background-color: #222b33; //rgba(34, 30, 31, 0.8);
    ;
    z-index: 1;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
    content: " ";
    display: table;
}
#cloudant-logo {
    background: url('../images/sprite.png') no-repeat -178px 0px;
    width: 44px;
    height: 44px;
    position: absolute;
    display: inline-block;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    top: 2px;
    left: 5px;
}
nav .page-title {
    position: relative;
    height: inherit;
    font-size: 10px;
    font-weight: 400;
    color: #bababa;
    display: block;
    text-align: center;
    line-height: 48px;
    text-transform: uppercase;
}
a {
    color: #0ce3ac;
}
a, a:hover, a:active {
    text-decoration: none;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 200;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 24px;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 0;
    color: #f2f2f2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.btn.btnHover {
    background-color: #F3622D;
    color: #fff;
}
.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.btn-primary, .btn-primary.active {
    background-color: #3a8cc0;
}
.btn-info, .btn-info.active {
    background-color: #329898;
}
.btn-save, .btn-save.active {
    background-color: #329898;
}
pre {
    margin-bottom: 20px;
}
.user-item{
    position: relative;
    display: block;
    background-color: #3a8cc0;
    color: white;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.user-item:hover{
    background-color: #F3622D;
}

/* WELCOME PAGE*/

.content-table {
    display: table;
    height: inherit;
    width: 100%;
}
.content-table-cell {
    display: table-cell;
    vertical-align: middle;
}
.directional-copy {
    font-size: 14px;
    color: #6fc4e8;
    text-align: center;
}
/* LOCATION PAGE*/

.center-container {
    width: 100%;
    display: table;
    height: inherit;
    position: absolute;
    top: 0;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.center-block {
    width: 50%;
    margin: 0 auto;
}
.button-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.button-bottom .btn {
    margin-top: 1px;
}
#map, #mapResult {
    background-color: #221e1f;
    height: auto;
    display: block;
    top: 0px;
    bottom: 189px;
    position: absolute;
    width: 100%;
}
#mapResult.result {
    bottom: 69px;
}
.location-tracker-bottom {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
}
.long-lat-container {
    width: 100%;
    display: table;
    height: 120px;
    background-color: #f2f2f2;
}
.longitude, .latitude {
    vertical-align: middle;
    height: 120px;
    display: table-cell;
    width: 50%;
    text-align: center;
    font-size: 28px;
    line-height: 8px;
    color: #717981;
}
.latitude {
    border-left: 1px solid #ccc;
}
.longitude span, .latitude span {
    font-size: 16px;
    color: #909aa5;
    font-weight: 200;
}
.save-data {
    top: -14px;
    position: relative;
    display: block;
    height: 260px;
    z-index: 3;
}
.save-data .cloudant-icon {
    background: url('../images/sprite.png') no-repeat -55px 0px;
    position: relative;
    margin: auto;
}
.save-data .arrow-icon {
    background: url('../images/sprite.png') no-repeat -355px 0px;
    position: relative;
    margin: -12px auto -24px auto;
}
.save-data .dot {
    display: block;
    position: relative;
    height: 8px;
    width: 8px;
    background-color: #f2f2f2;
    margin: 8px auto;
}
.save-data .location-icon {
    background: url('../images/sprite.png') no-repeat -5px 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
}
.save-data .cloudant-icon, .save-data .arrow-icon, .save-data .location-icon {
    display: block;
    width: 40px;
    height: 60px;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
/* ANIMATION STYLINGS
============================================================================= */
/* basic styling for entering and leaving */
/* left and right added to ensure full width */

#location-views {
    padding-top: 48px;
    top: 0;
    height: 100%;
    background-color: #245a85;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    opacity: 0;
}
.anim-page-transition-js {
    display: block;
    position: relative;
    height: 100%;
}
.globe, .message {
    display: block;
    position: relative;
    width: 340px;
    overflow-x: hidden;
    left: 50%;
    margin-left: -170px;
}
.globe {
    margin-top: -60px;
    height: 240px;
}
.globe.save-data {
    margin-top: 20px;
}
.message {
    text-align: center;
    height: 320px;
    margin-top: -120px;
}
.message .success-icon, .message .error-icon {
    margin-left: -21px;
    top: 10px;
    left: 50%;
}
.message .success-icon {
    background: url('../images/sprite.png') no-repeat -390px 0px;
}
.message .error-icon {
    background: url('../images/sprite.png') no-repeat -346px 0px;
}
.message .success-message {
    color: #6fc4e8;
    font-size: 14px;
}
.message h3 {
    margin: 0 0 20px 0;
    padding-bottom: 12px;
    font-size: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.message span {
    font-size: 24px;
    font-weight: bold;
    color: #f2f2f2;
}
.globe h1 {
    top: 74px;
    z-index: 2;
    text-align: center;
    position: inherit;
    font-size: 36px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .4);
    display: block;
}
.globe .location-exclamation {
    display: block;
    position: absolute;
    left: 50%;
    top: -78px;
    margin-left: -20px;
}
.globe .location-icon {
    background: url('../images/sprite.png') no-repeat center left;
    top: 10px;
    margin-top: 21px;
}
.globe .location-dot {
    background: url('../images/sprite.png') no-repeat -260px 0px;
    top: -24px;
}
.globe .location-icon, .globe .location-dot, .message .success-icon, .message .error-icon {
    width: 43px;
    height: 52px;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}
.globe-mask {
    z-index: 1;
    background: url('../images/world_map_mask.png') no-repeat center center;
    width: inherit;
    height: inherit;
    top: 0;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.globe-map {
    z-index: 0;
    background: url('../images/world_map.png') repeat-x top left;
    width: 768px;
    height: 240px;
    top: 0;
    left: 0;
    -moz-background-size: 50%;
    -webkit-background-size: 50%;
    background-size: 50%;
    -webkit-animation: 15.0s globeLoopAnim infinite linear;
    -moz-animation: 15.0s globeLoopAnim infinite linear;
    animation: 15.0s globeLoopAnim infinite linear;
}
.globe-mask, .globe-map {
    position: absolute;
    display: block;
}
/* Leaflet Control Overrides */

.leaflet-control-container.right {
    position: absolute;
    top: 134px;
}
.leaflet-control-container .leaflet-control-locate a {
    margin-left: 0px;
}
.leaflet-control-container .leaflet-bar {
    border-radius: 0;
}
.leaflet-control-container .leaflet-bar a, .leaflet-control-container .leaflet-bar a:hover {
    border-radius: 0;
    background-color: #222b33;
    border-bottom: none;
    width: 38px;
    height: 38px;
    line-height: 34px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #bababa;
    font-size: 32px;
}
.leaflet-control-container .leaflet-bar a.leaflet-disabled {
    cursor: default;
    background-color: #404E5B;
    background-color: #222b33;
}
.leaflet-control-container .leaflet-bar a:first-child, .leaflet-control-container .leaflet-bar a:last-child {
    border-radius: 0;
}
.leaflet-control-container .leaflet-control-locate.active.following a {
    color: #e5603d;
}
.leaflet-control-container .leaflet-control-locate.active a {
    color: #3a8cc0;
}
.leaflet-control-container .fa {
    font-size: 22px;
}
.leaflet-popup-pane .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #222b33;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}
.leaflet-popup-pane .leaflet-popup-content-wrapper {
    padding: 8px;
    text-align: left;
    border-radius: 0;
}
.leaflet-popup-pane span {
    color: #999;
    line-height: 1.6;
}
/* login form */

.form-container {
    display: block;
    position: relative;
    width: 340px;
    left: 50%;
    margin-left: -170px;
    text-align: center;
    margin-top: -120px;
}
.form-1 {
    width: 320px;
    margin: 0px auto;
    padding: 10px;
    position: relative;
}
.form-1 .field {
    position: relative;
    /* For the icon positioning */
}
.form-1 input[type=text], .form-1 input[type=password] {
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 3px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background: white;
    color: #222b33;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.form-1 input[type=text] {
    margin-bottom: 10px;
}
.form-1 input[type=text]:hover ~ i, .form-1 input[type=password]:hover ~ i {
    color: #52cfeb;
}
.form-1 input[type=text]:focus ~ i, .form-1 input[type=password]:focus ~ i {
    color: #42A2BC;
}
.form-1 input[type=text]:focus, .form-1 input[type=password]:focus, .form-1 button[type=submit]:focus {
    outline: none;
}
.form-1 .submit {
    /* Size and position */
    
    width: 65px;
    height: 65px;
    position: absolute;
    top: 17px;
    right: -25px;
    padding: 10px;
    z-index: 2;
    /* Styles */
    
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.1), inset 0 -3px 2px rgba(0, 0, 0, 0.2);
}
.form-1 .submit:after {
    /* Size and position */
    
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -2px;
    left: 30px;
    /* Styles */
    
    background: #ffffff;
    /* Other masks trick */
    
    box-shadow: 0 62px white, -32px 31px white;
}
.form-1 button {
    /* Size and position */
    
    width: 100%;
    height: 100%;
    margin-top: -1px;
    /* Icon styles */
    
    font-size: 1.4em;
    line-height: 1.75;
    color: white;
    /* Styles */
    
    border: none;
    /* Remove the default border */
    
    border-radius: inherit;
    background: linear-gradient(#52cfeb, #42A2BC);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.35), inset 0 3px 2px rgba(255, 255, 255, 0.2), inset 0 -3px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.form-1 button:hover, .form-1 button[type=submit]:focus {
    background: #52cfeb;
    transition: all 0.3s ease-out;
}
.form-1 button:active {
    background: #42A2BC;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), inset 0 3px 4px rgba(0, 0, 0, 0.3);
}
/* CLICK BLOCKER */

.click-blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(44, 62, 80, 0.9);
    z-index: 1000;
}
/* MULTI USER MODAL */

.modal-active body {
    -webkit-transform: scale( 0.9);
    -moz-transform: scale( 0.9);
    -ms-transform: scale( 0.9);
    -o-transform: scale( 0.9);
    transform: scale( 0.9);
}
.modal-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    background: rgba( 0, 0, 0, 0.5);
}
.modal-active .modal-cover {
    visibility: visible;
    opacity: 1;
}
.modal-contents {
    position: relative;
    padding: 20px;
    max-width: 400px;
    height: 100%;
    margin: auto;
}
.modal-active .modal-contents {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}
.no-blur.modal-active .modal-contents {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}
.modal-popup {
    z-index: 1000;
    position: absolute;
    width: 340px;
    height: 100%;
    left: 50%;
    top: 0px;
    margin: 0 0 0 -170px;
    visibility: visible;
    opacity: 1;
    padding: 72px 0px 0;
    background: white;
    border-radius: 4px;
    /*border: 1px solid #196090;*/
    box-shadow: 0px 0px 20px rgba( 0, 0, 0, 0.6);
    border-radius: 3px;
    -webkit-transform: scale( 0.8);
    -moz-transform: scale( 0.8);
    -ms-transform: scale( 0.8);
    -o-transform: scale( 0.8);
    transform: scale( 0.8);
}
.modal-popup h2 {
    margin: 0;
    width: 100%;
    top: 0;
    z-index: 1;
    position: absolute;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 20px 20px 20px 32px;
    background-color: white;//#222b33;
    font-size: 20px;
    font-weight: 400;
    color: #666;
}

.modal-popup .scroll-y-area{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0;
    padding: 0;
    height: inherit;
    display: block;
    overflow: scroll;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.modal-popup ul {
    margin: 0;
    padding: 0;
}
.modal-popup ul li {
    display: block;
    position: relative;
    list-style-type: none;
    margin: 0;
    color: white;
    padding: 10px 20px 10px 40px;
    border-top: 1px solid #196090;
    font-weight: 200;
    font-size: 20px;
}
.modal-popup ul li span.color {
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
    border-radius: 20px;
    border: 2px solid white;
    left: 12px;
    top: 13px;
}
.modal-active .modal-popup-animate {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale( 1.1);
    -moz-transform: scale( 1.1);
    -ms-transform: scale( 1.1);
    -o-transform: scale( 1.1);
    transform: scale( 1.1);
}
.modal-popup.stack {
    -webkit-transform: scale( 1.5);
    -moz-transform: scale( 1.5);
    -ms-transform: scale( 1.5);
    -o-transform: scale( 1.5);
    transform: scale( 1.5);
}
.modal-active .modal-popup.stack {
    -webkit-transform: scale( 1.1);
    -moz-transform: scale( 1.1);
    -ms-transform: scale( 1.1);
    -o-transform: scale( 1.1);
    transform: scale( 1.1);
}
.modal-ready body, .modal-ready .modal-contents, .modal-ready .modal-popup, .modal-ready .modal-cover {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -ms-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.modal-ready .modal-popup.no-transition {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
/* Globe LOOP */

@keyframes globeLoopAnim {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-384px);
    }
}
@-webkit-keyframes globeLoopAnim {
    from {
        -webkit-transform: translateX(0px);
    }
    to {
        -webkit-transform: translateX(-384px);
    }
}
@-moz-keyframes globeLoopAnim {
    from {
        -moz-transform: translateX(0px);
    }
    to {
        -moz-transform: translateX(-384px);
    }
}
