<div animationdirective class="sign-up">

    <div class="content-table">
        <div class="content-table-cell">
            <div class="form-container">

                <div class="directional-copy trans-step1">
                    <p> Let's get started! Please create a username and password to store your tracked location data</p>
                </div>
                <form id="sign-up-form" class="form-1 trans-step2">
                    <p class="field">
                        <input type="text" name="login" ng-model="login" placeholder="Username or email">
                    </p>
                    <p class="field">
                        <input type="password" name="password" ng-model="password" placeholder="Password">
                    </p>

                </form>
                <p class="trans-step3"> Already registered? <a href="#/sign-in" title="Sign In">Go Sign In.</a>
                </p>


            </div>
            <div class="button-bottom trans-button">
                <button type="submit" for="submit-form" name="submit" class="sign-up-btn btn btn-block btn-primary">Sign Up
                </button>


            </div>
        </div>
    </div>
</div>
